{%extends 'main/base.html'%}
{% load static %}
{%block title%}
Home
{%endblock%}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/home.css'%}">
{% endblock %}
{%block content %}
<div id="itemz">
<div class="row">
  {%for product in products %}
  <div class="product col-lg-4  col-md-6 col-sm-12">
    <div class="card" style="width: 18rem;">
    <img src="{{product.product_img.url}}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{product.product_name}}</h5>
        <p class="card-text">{{product.description}}</p>
        {% comment %} <a href="" class="btn btn-sm btn-primary">Buy</a> {% endcomment %}
        <form onsubmit="" action="/login/" method="POST">
          {%csrf_token %}
          <button type="submit" class="btn btn-sm btn-primary">Add ₹500</button>
        </form>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% comment %} {%for product in  products%}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{product.product_name}}</h5>
    <p class="card-text">{{product.description}}</p>
    <a href="#" class="btn btn-sm btn-primary">Buy</a>
  </div>
</div>
{%endfor%} {% endcomment %}
{%endblock %}