
/* #itemz{
    display:flex;
    justify-content: center;
} */
/* .row{
    display: flex;
    justify-content: center;
} */
.card{
    margin-left: 50%;
    display:flex;
    justify-content: center;
}