h1{
    color:green;
}
.header{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#FEFBF3;
}
a{
    color:#47cfcd;
    text-decoration: none;
}
body{
    margin:0;
    background-color:#E8F6EF;
}
.itemz{
    padding: 100px;
    background-color:black;
}