{%extends 'main/base.html'%} {% load static %} {%block title%} Login
{%endblock%} {%load crispy_forms_tags%} {% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'registration/login.css'%}"
/>
{% endblock %} {%block content%} {% if user.is_anonymous %}
<div id="loginform">
  <form method="POST" autocomplete="off" class="form-group">
    {% csrf_token %} {{form|crispy}}
    <button type="submit" id="loginbutton" class="btn btn-sm btn-primary">
      Login
    </button>
  </form>
</div>
{% endif %} {%if user.is_authenticated %} {% comment %}
<h5>Balance</h5>
{% endcomment %}
<div class="row">
  <div class="profile col-lg-12 col-md-12 col-sm-12">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Balance</h5>
        <p id="addfunds" class="card-text">{{balance}}₹</p>
        <form action="/addfunds" method="GET">
          <button onclick="" type="submit" class="btn btn-sm btn-primary">Add ₹500</button>
          {% comment %} <button type="submit">sort me</button> {% endcomment %}
        </form>
      </div>
      <script type="text/javascript">
        const intital_money=document.getElementById("addfunds").innerHTML

      </script>
    </div>
    <div />
  </div>

  {%endif%} {%endblock%}
</div>
